<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-todolist</title>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>

    <div id="app">
        <div class="wrapper">
            <div class="d-flex title ">
                <h1>Todo list</h1>
        
                <img class="img-fluid" src="./assets/img/coming_soon.png" alt="">

            </div>
            
            <form class="d-flex">
                <input type="text" @keyup.enter="addTask()" v-model="newTask" >
                <button @click.prevent="addTask()" type="submit"> add</button>
            </form>

            <div class="list_of_task d-flex">
                <div v-for="(task, i) in todo" :id="i" class="" :class="task.done === true ? 'done' : '' "  >
                    {{task.text}}
                    <i class="fa-solid fa-x" @click="removeTask(i)"></i>   
                </div>

            </div>

        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html> 